asgiref==3.4.1
attrs==21.2.0
autopep8==1.5.7
beautifulsoup4==4.10.0
black==21.12b0
boto3==1.20.26
botocore==1.23.26
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.1
dill==0.3.4
Django==3.2.8
django-cors-headers==3.10.0
django-environ==0.8.1
django-postgres-extensions==0.9.3
django-rest-swagger==2.1.2
django-storages==1.11.1
django-utils-six==2.0
djangorestframework==3.12.4
djangorestframework-simplejwt==5.1.0
filelock==3.6.0
google==3.0.0
google-api-core==2.3.0
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.54.0
greenlet==1.1.2
gunicorn==20.1.0
httplib2==0.20.2
idna==3.3
importlib-metadata==4.8.1
isodate==0.6.1
itypes==1.2.0
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
lxml==4.7.1
MarkupSafe==2.0.1
msal==1.16.0
multiprocess==0.70.12.2
mypy-extensions==0.4.3
nltk==3.7
numpy==1.21.4
oauthlib==3.1.1
openapi-codec==1.3.2
packaging==21.3
pandas==1.4.2
pathos==0.2.8
pathspec==0.9.0
Pillow==9.0.0
platformdirs==2.4.0
pox==0.3.0
ppft==1.6.6.4
protobuf==3.19.1
protobuf3-to-dict==0.1.5
psycopg2==2.9.2
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.21
pydantic==1.10.2
PyJWT==2.3.0
pyOpenSSL==22.0.0
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.3.15
requests==2.26.0
requests-file==1.5.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.8
s3transfer==0.5.0
sagemaker==2.59.7
salesforce-python==0.3.3
simplejson==3.17.6
six==1.16.0
slack-bolt==1.15.2
slack-sdk==3.19.1
smdebug-rulesconfig==1.0.1
soupsieve==2.3.1
SQLAlchemy==1.4.28
SQLAlchemy-Utils==0.38.2
sqlparse==0.4.2
toml==0.10.2
tomli==1.2.2
tqdm==4.64.0
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.7
whitenoise==6.2.0
wordsegment==1.3.1
xmltodict==0.13.0
zeep==4.1.0
zipp==3.6.0
